.hero {
  .hero-container {
    max-width: 1200px;
    margin: 0 auto;

    .hero-list {
      .hero-logo img {
        width: 400px;
        height: auto;
      }

      .hero-list-container {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
        padding-bottom: 50px;
      }

      .no-heroes-message {
        color: #fff;
        text-align: center;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  list-style: none;

  li {
    margin: 0 5px;
    cursor: pointer;

    &.active a {
      background-color: #feea1e;
      color: #000;
      font-weight: bold;
    }

    a {
      padding: 10px 15px;
      border: 2px solid #fff;
      background-color: #000;
      transition: background-color 0.3s;
      color: #feea1e;

      &:hover {
        background-color: #feea1e;
        color: #000;
      }
    }
  }

  .previous,
  .next {
    font-weight: bold;
  }
}
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.7); // Напівпрозорий чорний фон
}

.ReactModal__Content {
  background: #ffffff; // Білий фон
  border-radius: 10px; // Закруглені кути
  padding: 20px; // Внутрішні відступи
}
