.hero {
  .hero-container {
    max-width: 1200px;
    margin: 0 auto;

    .hero-list {
      .hero-logo img {
        width: 400px;
        height: auto;
      }

      .hero-list-container {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;

        .hero-item {
          color: #fff;
          border: 3px solid #fff;
          border-radius: 8px;
          padding: 10px;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          text-transform: uppercase;
          text-align: center;
          cursor: pointer;

          .hero-image {
            width: 100%;
            height: auto;
            display: block;
          }

          .hero-name {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 900;
            margin-top: 10px;
          }

          &:hover {
            transform: scale(1.05);
          }
        }
      }

      .no-heroes-message {
        color: #fff;
        text-align: center;
      }

      button {
        display: block;
        margin: 30px auto;
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}
